@font-face {
  font-family: "symbols-technomart";
  src: url("/fonts/symbols-technomart.woff") format('woff'), url("/fonts/symbols-technomart.ttf") format('truetype'), url("/fonts/symbols-technomart.svg#symbols-technomart") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  background-color: #ffffff;
}

h1 {
  margin: 0;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}

h2 {
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

i {
  font-family: "symbols-technomart";
  padding: 15px;
  font-style: normal;
}

i.icon-search::after {
  content: "\1f50d";
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
}

i.icon-bookmarks::after {
  content: "\1f516";
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
}

i.icon-basket::after {
  content: "\62";
  font-size: 17px;
  color: #ffffff;
  opacity: 0.3;
}

i.icon-phone::after {
  content: "\1f4de";
  font-size: 22px;
  color: #b7bfc8;
}

i.icon-enter::after {
  content: "\2386";
  font-size: 22px;
  color: #c5c5c5;
}

i.icon-login-in::after {
  content: "\1f468";
  font-size: 18px;
  color: #c5c5c5;
  line-height: 18px;
}

i.icon-login-out::after {
  content: "\241b";
  font-size: 22px;
  color: #c5c5c5;
  line-height: 18px;
}

i.icon-vk::after {
  content: "\76";
  color: #ffffff;
  font-size: 18px;
}

i.icon-fb::after {
  content: "\66";
  color: #ffffff;
  font-size: 18px;
  }

i.icon-inst::after {
content: "\1f4f7";
color: #ffffff;
font-size: 18px;
}


i.icon-prev::after {
  content: "\3c";
  left: 0px;
  padding-left: 25px;
}

i.icon-next::after {
  content: "\3e";
  right: 0px;
  padding-right: 20px;
}

i.icon-home::after {
  content: '\1f3e0';
  color: #c1c6ce;
  font-size: 13px;
  line-height: 20px;
}

i.icon-home {
  padding: 0px;
}

i.icon-prev::after, i.icon-next::after {
    font-size: 45px;
    color: #ffffff;
    position: absolute;
    top: 125px;
}

i.icon-breadcrumbs::after {
  content: '\3e';
  font-size: 13px;
  line-height: 20px;
  color: #c1c6ce;
}

i.icon-ascending,
i.icon-descending {
  padding: 0px;
  cursor: pointer;
}

i.icon-ascending::after {
  content: '\25b2';
  font-size: 13px;
  line-height: 20px;
  color: #ee3643;
}

i.icon-descending::after {
  content: '\25bc';
  font-size: 13px;
  line-height: 20px;
  color: #c6c2bd;
}

i.icon-checkbox::after {
  content: '\2610';
}

i.icon-checkbox-checked::after {
  content: '\2611';
}

i.icon-checkbox,
i.icon-checkbox-checked,
i.icon-radio,
i.icon-radio-checked {
  padding-left: 0px;
}

header {
  width: auto;
  background-color: #f1f5f7;

}

.main-header {
    margin-bottom: 60px;
}

.header-catalog {
    margin-bottom: 18px;
}

.header-top {
  min-height: 42px;
  background-color: #293449;
}

.header-top-container {
  width: 940px;
  height: 42px;
  margin: 0 auto;
}

.header-top a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.header-top .search-container {
  float: left;
  width: 270px;
}

.search .icon-search {
  float: left;
  width: 18px;
  padding-top: 11px;
}

.header-top .search {
  float: left;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  height: 100%;
}

.header-top .search input {
  float: left;
  width: 270px;
  background: transparent;
  border: none;
  width: 220px;
  padding: 10px 0 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-top .search label {
  display: none;
}

.header-top .bookmarks {
  float: right;
  display: inline-block;
  width: 150px;
  padding-top: 10px;
  height: 100%;
  box-sizing: border-box;
}

.header-top .basket {
  float: right;
  display: inline-block;
  width: 150px;
  padding-top: 10px;
  height: 100%;
  box-sizing: border-box;
}

.header-top .basket-catalog {
  background-color: #ee3643;
}

.header-top .checkout {
  float: right;
  width: 150px;
  height: 100%;
  background-color: #63a63e;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.header-center {
  width: 940px;
  margin: 0 auto;
  padding: 45px 0 39px;
}

.header-center a {
  text-decoration: none;
}

.header-center .description {
  float: left;
  width: 200px;
  padding-left: 52px;
  color: #ee3643;
  font-style: italic;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  padding-top: 3px;
}

.header-center .header-contacts {
  padding-left: 70px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-center .phone {
  width: 266px;
  height: 31px;
  border: 2px solid #ffffff;
  padding-top: 10px;
  margin-bottom: 6px;
}

.header-center .phone span {
  color: #e9292a;
  font-size: 21px;
  padding-left: 21px;
  padding-right: 21px;
}

.header-center .adress {
  width: 260px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  padding-left: 9px;
  padding-right: 9px;
}

.header-center .header-contacts {
  float: left;
}

.header-center .login-in {
  line-height: 24px;
}

.login-in a {
  color: #000000;
}

.login-in .enter {
  float: right;
  display: inline-block;
  width: 120px;
  height: 35px;
  background-color: #ffffff;
  padding-top: 10px;
  font-size: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-right: 10px;
  word-spacing: -6px;
}

.login-in .registration {
  float: right;
  display: inline-block;
  width: 150px;
  height: 35px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 10px;
  font-size: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-center .personal-area {
  float: right;
  width: 300px;
  line-height: 18px;
}

.header-center .profile {
  width: 300px;
  height: 32px;
  background-color: #ffffff;
  padding-top: 14px;
}

.header-center .profile a {
  color: #000000;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.profile .icon-login-in {
  float: left;
  width: 20px;
  padding: 0 14px 0 15px;
}

.profile .icon-login-out {
  float: right;
  width: 30px;
  padding: 0;
}

.profile .name {
  float: left;
  width: 220px;
}

.header-center .under-personal-area {
  line-height: 18px;
  padding-top: 8px;
  padding-left: 20px;
}

.header-center .under-personal-area a {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.dot {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
}

.header-bottom {
  width: 940px;
  height: 60px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.header-bottom a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
}

.header-bottom ul {
  height: 55px;
  padding: 0;
  background-color: #32425c;
  margin: 0;
  border-bottom: 4px solid #293449;
  text-align: justify;
  height: 100%;
  box-sizing: border-box;
}

.header-bottom ul::after {
  content: "";
  display: inline-block;
  width: 100%;
  visibility: hidden;
  height: 0;
}

.header-bottom li {
  display: inline-block;
  padding: 19px 30px 0px 30px;
  color: #ffffff;
  line-height: 17px;
  list-style-type: none;
  height: 100%;
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.catalog-breadcrumbs ul {
  padding: 0;
  margin: 0;
}

.catalog-breadcrumbs li {
  display: inline-block;
  text-transform: uppercase;
  list-style-type: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.catalog-breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.catalog-title {
  background-color: #f2f6f8;
  min-height: 90px;
}

.catalog-title h2 {
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 30px;
  margin-top: 15px;
}

.filter-catalog {
  float: left;
  width: 220px;
}

.filter-name span, .submit-btn {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter-price span,
.filter-manufacture span,
.filter-power span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.filter-name {
  background-color: #f7f3ec;
  padding-left: 19px;
  padding-top: 9px;
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
}

.filter-price {
  min-height: 180px;
  padding-top: 6px;
  width: 100%;
}

.filter-price .price-range {
  position: relative;
  width: 100%;
  height: 77px;
  background-color: #f7f3ec;
  border-radius: 2px;
  margin-top: 13px;
}

.price-range .range-min,
 .price-range .range-max {
   position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
  left: 0;
  top: 0;
  box-shadow: 0 2px 0 rgba(171,171,171,0.5);
  z-index: 10;
}

.price-range .range-min {
  margin: 26px 0 0 16px;
}

 .price-range .range-max {
     margin: 26px 0 0 150px;
 }

.range-min:after,
.range-max:after {
   content: '';
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: #ababab;
   display: inline-block;
   position: relative;
   top: 0;
   left: 0;
   margin: 0 0 3px 8px;
  }

.price-range .range-line,
.price-range .range-line-inner {
  height: 3px;
}

.price-range .range-line-inner {
  background-color: #00ca74;
  position: relative;
  width: 80%;
  left: 0px;
}

.price-range .range-line {
  background-color: #d7dcde;
  position: absolute;
  width: 170px;
  top: 0;
  left: 0;
  margin-top: 35px;
  margin-left: 25px;
  z-index: 0;
}

.price-number {
  width: 100%;
  margin-top: 10px;
}

.price-number span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px 0 10px;
  float: left;
  width: 15px;
}

.price-number .price-min {
  float: left;
}

.price-number .price-max {
  float: right;
}

.price-number .price-min,
.price-number .price-max {
font-family: "PT Sans", "Arial", sans-serif;
font-size: 17px;
width: 90px;
height: 40px;
text-align: center;
vertical-align: middle;
line-height: 40px;
color: #000000;
background-color: #f7f3ec;
border-radius: 2px;
border: none;
display: inline-block;
}

.filter-power {
  min-height: 179px;
}

.filter-manufacture {
  min-height: 244px;
}

.filter-manufacture,
.filter-power {
  border-top: 2px solid #e5e5e5;
  width: 100%;
  padding-top: 20px;
}

.filter-manufacture ul,
.filter-power ul {
  margin: 0px;
  padding: 0px;
}

.filter-manufacture li,
.filter-power li {
  list-style-type: none;
  padding-top: 12px;
  cursor: pointer;
}

.filter-manufacture label,
.filter-power label {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-manufacture label {
    font-size: 15px;
}

.filter-power label {
  font-size: 14px;
}

#battery:checked ~ label[for="battery"]::before,
#network:checked ~ label[for="network"]::before,
#battery ~ label[for="battery"]::before,
#network ~ label[for="network"]::before,
#bosch ~ label[for="bosch"]::before,
#bosch:checked ~ label[for="bosch"]::before,
#interskol ~ label[for="interskol"]::before,
#interskol:checked ~ label[for="interskol"]::before,
#makita ~ label[for="makita"]::before,
#makita:checked ~ label[for="makita"]::before,
#dewalt ~ label[for="dewalt"]::before,
#dewalt:checked ~ label[for="dewalt"]::before,
#hitachi ~ label[for="hitachi"]::before,
#hitachi:checked ~ label[for="hitachi"]::before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
  cursor: pointer;
  padding-right: 15px;
}

#bosch ~ label[for="bosch"]::before,
#interskol ~ label[for="interskol"]::before,
#makita ~ label[for="makita"]::before,
#dewalt ~ label[for="dewalt"]::before,
#hitachi ~ label[for="hitachi"]::before {
content: '\2610';
}

#bosch:checked ~ label[for="bosch"]::before,
#interskol:checked ~ label[for="interskol"]::before,
#makita:checked ~ label[for="makita"]::before,
#dewalt:checked ~ label[for="dewalt"]::before,
#hitachi:checked ~ label[for="hitachi"]::before {
  content: '\2611';
}


#battery:checked ~ label[for="battery"]::before,
#network:checked ~ label[for="network"]::before {
    content: '\25cf';
}

#battery ~ label[for="battery"]::before,
#network ~ label[for="network"]::before {
  content: '\25cb';
}

.filter-manufacture input[type=checkbox],
.filter-power input[type=radio]  {
    display: none;
}

.submit-btn {
  width: 140px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  padding: 0px;
}

.sort {
  float: right;
  width: 100%;
  background-color: #f7f3ec;
  min-height: 40px;
  padding-top: 9px;
  padding-left: 19px;
  box-sizing: border-box;
}

.sort span {
  width: 80px;
  text-transform: uppercase;
  font-size: 13px;
  width: 100%;
}

.sort-btns {
  display: inline-block;
  margin-left: 139px;
}

.sort-btns button {
  text-transform: uppercase;
  font-size: 13px;
  padding: 0;
  border: none;
  background: transparent;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
    border-bottom: 1px dotted #ee3643;
      color: #c4c1bb;
}

.sort-btns .btn-type {
  margin-left: 60px;
}

.sort-btns .btn-functional {
  margin-left: 55px;
}

.ascending-descending {
  float: right;
  width: 60px;
  padding-left: 40px;
  background-color: #f7f3ec;
}

.ascending-descending button {
  margin-right: 10px;
  background-color: #f7f3ec;
  cursor: pointer;
  border: none;
}

.catalog-items {
  float: right;
  width: 100%;
  margin-bottom: 40px;
}

.catalog-items .item:first-child,
.catalog-items .item:nth-child(4),
.catalog-items .item:nth-child(7) {
  margin-left: 0px;
}

.main-items .item,
.catalog-items .item {
  float: left;
  width: 218px;
  height: 313px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-top: 17px;
  margin-left: 20px;
}

.main-items {
  clear: both;
}

.main-items .item {
  margin: 20px 10px;
}

.main-items .item:first-child {
  margin-left: 0;
}

.main-items .item:last-child {
  margin-right: 0;
}

.cta-window {
  position: fixed;
  width: 620px;
  height: 280px;
  top: 410px;
  left: 290px;
  display: none;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  border-top: 6px solid #ee3643;
  float: right;
  width: 620px;
}

.cta-window-top {
  background-color: #ffffff;
  width: auto;
  height: 165px;
}

.cta-window-top span {
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-left: 180px;
  vertical-align: middle;
  line-height: 165px;
}

.cta-window-bottom {
  background-color: #f1f1f1;
  width: auto;
  height: 75px;
  padding-left: 80px;
  padding-top: 40px;
}

.continue-btn {
  width: 220px;
  height: 40px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  border-radius: 2px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  border: none;
  cursor: pointer;
}

.exit-btn {
  float: right;
  border: none;
  background: transparent;
  width: 21px;
  height: 21px;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.item .cta-btns {
  vertical-align: middle;
  width: 135px;
  display: none;
}

.cta-btns button {
  display: block
}

.item:hover .item-top .cta-btns {
  display: inline-block;
}

.item:hover .item-top img {
  display: none;
}

.cta-btns button {
  height: 35px;

  /* http://stackoverflow.com/a/27605483 */

  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  cursor: pointer;
  padding: 0px;
}

.cta-btns .favorites-btn {
  margin-top: 10px;
  border: 2px solid #63a63e;
  background-color: #ffffff;
  color: #32425c;
}

.cta-btns .buy-btn {
  background-color: #63a63e;
  border: none;
  border-bottom: 2px solid #367315;
  color: #ffffff;
}

.description-container {
  background-color: #f2f6f8;
  min-height: 260px;
  clear: both;
}

.description-container .description {
  width: 940px;
  margin: 0 auto;
  padding-top: 70px;
}

.description-container .description h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.description-container .description p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.main-container {
  width: 940px;
  margin: 0 auto;
}

.main-content {
  min-height: 410px;
  width: 940px;
}

.main-content .option {
  float: left;
  width: 300px;
  margin: 0 0 20px 20px;
  border: none;
  height: 120px;
}

.main-content .option:first-child {
  margin-left: 0;
}

.main-content .option:last-child {
  margin-bottom: 0;
}

.option {
  position: relative;
  overflow: hidden;
}

.option a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  display: block;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  width: 135px;
  height: 30px;
  background-color: rgba(178, 178, 178, 0.3);
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.option span {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 22px;
  margin-left: 22px;
  display: block;
}

.option img {
  float: right;
  width: 300px;
}

.materials {
  background-color: #f6b22d;
}

.tool {
  background-color: #4aafde;
}

.technique {
  background-color: #cc79d1;
}

.sales {
  background-color: #85d179;
}

.delivery {
  background-color: #f6b22d;
}

.materials img {
  width: 44px;
  height: 65px;
  margin-right: 40px;
  margin-top: 30px;
}

.tool img {
  width: 75px;
  height: 61px;
  margin-right: 25px;
  margin-top: 30px;
}

.technique img {
  width: 78px;
  height: 62px;
  margin-right: 30px;
  margin-top: 30px;
}

.sales img {
  width: 59px;
  height: 72px;
  margin-right: 40px;
  margin-top: 25px;
}

.delivery img {
  width: 78px;
  height: 63px;
  margin-right: 30px;
  margin-top: 30px;
}

.brands-title,
.items-title {
  background-color: #f7f3ec;
  width: 940px;
  min-height: 80px;
}

.items-title {
  margin-top: 50px;
}

.items-title h2 {
  float: left;
  text-transform: uppercase;
  color: #32425c;
  width: 275px;
  margin: 30px;
}

.brands-title h2 {
  float: left;
  text-transform: uppercase;
  color: #32425c;
  width: 375px;
  margin: 32px 10px 32px 25px;
}

.brands-title .all-btns,
.items-title .all-btns {
  float: right;
  width: 250px;
  display: inline-block;
  margin: 25px;
}

.brands-title .all-btns {
  margin: 28px 25px 26px 10px;
}

.brands-title {
  clear: both;
  margin-top: 20px;
}

.brand:last-child,
.brand:nth-child(4) {
  margin-right: 0;
}

.brand:first-child,
.brand:nth-child(5) {
  margin-left: 0;
}

.brand {
  float: left;
  width: 218px;
  height: 141px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  line-height: 138px;
}

.brand img {
  vertical-align: middle;
}

.list-of-brands {
  margin-bottom: 85px;
  width: 940px;
  height: 330px;
}

.content {
  background-color: #f2f6f8;
  height: 525px;
}

.services {
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
}

.services h2 {
  text-transform: uppercase;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 26px;
}

.services p {
  width: 400px;
  margin: 0;
}

.services-group {
  float: left;
  width: 260px;
}

.services-group ul {
  float: left;
  width: 230px;
  padding-top: 66px;
  margin: 0;
  padding-left: 0;
}


.services-group li {
  list-style-type: none;
  width: 218px;
  height: 46px;
  background-color: #32425c;
  font-size: 21px;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  padding-left: 22px;
  display: inline-block;
  line-height: 30px;
  padding-top: 16px;
  cursor: pointer;
}

.services-group img {
  position: relative;
  z-index: 1;
  top: 15px;
}

.services-group .active {
  background-color: #ffffff;
  color: #32425c;
}

.servicies-group-container {
  width: 960px;
}

.delivery-bottom {
  float: left;
  width: 617px;
  padding: 33px 0 0 62px;
  height: 320px;
  background-image: url("/img/car-kamaz.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.delivery-bottom h2 {
  padding: 40px 0 30px 0;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 24px;
}

.delivery-bottom p {
  width: 275px;
  margin: 0;
}

.warranty {
  float: left;
  width: 620px;
  padding-left: 80px;
  height: 340px;
  background-image: url("/img/warranty.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  display: none;
}

.warranty h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #32425c;
}

.warranty p {
  width: 375px;
  margin: 0;
}

.credit {
  float: left;
  width: 620px;
  padding-left: 80px;
  height: 340px;
  background-image: url("/img/credit.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  display: none;
}

.credit h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #32425c;
}

.credit p {
  width: 290px;
  margin: 0;
}

.credit-btn {
  margin-top: 35px;
  width: 195px;
  height: 40px;
  background-color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
  line-height: 40px;
}

.content-bottom {
  height: 390px;
  width: 940px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 67px;
  background-color: #ffffff;
}

.content-bottom h2 {
  text-transform: uppercase;
  margin: 0;
}

.small {
  width: 390px;
}

.content-bottom ul {
  padding: 0px;
  margin: 13px 0 13px 0;
}

.content-bottom li {
  list-style-type: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  padding: 6px 0 10px 0;
}

.content-bottom li::before {
  content: "";
  width: 25px;
  height: 2px;
  border-top: 2px solid #fb565a;
  display: inline-block;
  margin: 0px 9px 2px 2px;
}

.about-company {
  float: left;
  width: 540px;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 24px 0 0;
}

.about-company-btn {
  width: 220px;
  margin-top: 22px;
}

.contacts {
  float: right;
  width: 300px;
}

.contacts p {
  width: 180px;
  margin: 23px 0 0;
}

.contacts img {
  margin-top: 33px;
  margin-bottom: 29px;
}

.hidden-form {
  background-color: #ffffff;
  width: 620px;
  height: 423px;
  margin: 0 auto;
  border-top: 7px solid #ee3643;
  position: fixed;
  right: 280px;
  bottom: 200px;
  display: none;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.form-zone {
  width: 460px;
  height: 230px;
  margin: 45px auto 40px;
}

.form-zone label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.form-zone input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
}

.form-table {
  display: table;
}

.form-table-cell {
  display: table-cell;
  width: 50%;
}

.form-table-cell:last-child {
  padding: 0 0 0 5px;
}

.form-table-cell input {
    border: none;
    border: 2px solid #d7dcde;
    padding-left: 5px;
}

.form-text {
  margin-top: 20px;
}

.form-text p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.form-text textarea {
  width: 100%;
  height: 110px;
  border: none;
  border: 2px solid #d7dcde;
  border: none;
  border: 2px solid #d7dcde;
  padding-left: 5px;
  box-sizing: border-box;
}

.submit-zone {
  height: 40px;
  background-color: #f1f1f1;
  width: 100%;
  position: relative;
  bottom: 0px;
  text-align: center;
  padding: 35px 0 35px 0;
}

.footer-top-container {
  background-color: #32425c;
  height: 190px;
}

.footer-bottom-container {
  background-color: #293449;
}

.footer-top {
  min-height: 190px;
  width: 940px;
  margin: 0 auto;
}

.logo-contacts-container {
  float: left;
  width: 360px;
}

.footer-top-contacts {
  width: 360px;
}

.footer-top-contacts p {
  margin: 0;
  color: #f1f5f7;
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 25px 0px 0px 3px;
}

.footer-navigation {
  float: right;
  width: 570px;
}

.navigation-top ul {
  width: 550px;
  padding: 34px 8px 0px 22px;
}

.navigation-bottom ul {
width: 525px;
padding: 14px 10px 0 45px;
}

.footer-top ul {
  text-align: justify;
  margin: 0px;
}

.footer-top ul::after {
content: "";
display: inline-block;
width: 100%;
visibility: hidden;
height: 0;
}

.footer-top li {
  list-style-type: none;
  display: inline-block;
}

.footer-top a {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.navigation-top a {
  color: #f1f5f7;
}

.navigation-bottom a {
  color: #ffd180;
}


.footer-bottom {
  height: 110px;
  width: 940px;
  margin: 0 auto;
  padding-top: 28px;
}

.footer-company-name {
  float: left;
  width: 240px;
  padding-top: 10px;
}

.footer-social {
float: right;
width: 145px;
height: 45px;
  text-align: center;
  vertical-align: middle;
  margin: 1px 115px 0 0;
}

.footer-social .social-btn {
  display: inline-block;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
line-height: 40px;
}

.footer-company-name p {
  margin: 0;
  font-size: 16px;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-contacts .footer-mail {
  float: right;
  width: 140px;
  margin: 9px 48px 0px 0px;
}

.footer-bottom-contacts .footer-website {
  float: right;
  width: 112px;
  padding: 9px 0 0;
}

.footer-bottom-contacts p {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
}

.footer-bottom-contacts a {
  text-decoration: none;
  color: #ffd180;
  font-size: 16px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.slider {
  overflow-x: hidden;
  float: left;
  width: 620px;
  position: relative;
}

.slider .slider-cta,
.slider .slider-page img,
.slider .slider-page-content,
.slider .slider-pager,
.slider .slider-prevnext {
  position: absolute;
}

.slider .slider-inner {
  width: 200%;
}

.slider .slider-page {
  float: left;
  height: 242px;
  width: 620px;
  position: relative;
}

.slider .slider-page-content {
  width: 620px;
  height: 260px;
}

.slider .slider-page-content h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 36px;
  margin: 28px 0 5px 24px;
  font-weight: bold;
  line-height: 30px;
}

.slider .slider-page-content span {
  font-size: 18px;
  color: #ffffff;
  margin-left: 25px;
  line-height: 24px;
}

.slider-pager img {
  top: 0;
  left: 0;
}

.slider .slider-cta {
  width: 195px;
  top: 208px;
  left: 25px;
  height: 28px;
}

.slider .slider-pager {
  top: 210px;
  left: 300px;
}

.slider .slider-prevnext {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider > input[type=radio] {
    display: none;
}

.slider-pager-controls {
  margin: 0 100px 0 100px;
  position: absolute;
  bottom: 0px;
  margin: 0 286px 26px 292px;
}

.slider-pager-controls label {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 3px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-pager-controls label[for="btn-1"],
#btn-2:checked ~ .slider-pager-controls label[for="btn-2"] {
    background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner {
    transform: translate(-620px);
}

.all-btns {
  text-align: center;
  padding: 10px 0 0;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #ee3643;
  height: 30px;
  display: inline-block;
}

.checkout-btn,
.feedback-btn,
.submit-zone button {
  border: none;
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.submit-zone button {
  width: 460px;
}

.feedback-btn {
  width: 300px;
  display: inline-block;
}

.checkout-btn {
  width: 220px;
  display: inline-block;
}

.ex-price {
  position: absolute;
  bottom: 0;
  width: 218px;
  height: 40px;
  margin-bottom: 53px;
  text-align: center;
  vertical-align: middle;
}

.ex-price span {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 40px;
}

.item-top {
height: 179px;
width: 218px;
line-height: 175px;
  text-align: center;
}

.item-top img {
  vertical-align: middle;
}

.item-name {
  width: 218px;
  text-align: center;
}

.item-name span {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  width: 165px;
  display: inline-block;
}

.item-bottom {
  position: absolute;
  bottom: 0;
  width: 218px;
  height: 57px;
  text-align: center;
}

.item-bottom .price {
  background-color: #ee3643;
  text-align: center;
  min-width: 70px;
  height: 29px;
  border-radius: 2px;
  padding: 11px 15px 0 35px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  line-height: 18px;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  margin: 0 23px 0 10px;
}

.item-bottom .price::after {
  content: "";
  display: table;
  border: 20px solid transparent;
  border-left-color: #ee3643;
  width: 0;
  height: 0;
  position: relative;
  margin: auto;
  left: 69px;
  top: -29px;
}

.item {
  position: relative;
  overflow: hidden;
}

.item .new,
.option .new {
  position: absolute;
  width: 88px;
  height: 26px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 26px;
  font-size: 15px;
  transform: rotate(45deg);
  text-align: center;
  vertical-align: middle;
}

.item .new {
  top: 5px;
  left: 155px;
}

.option .new {
top: -17px;
left: 214px;
}


.header-top .logo, .logo-contacts-container .logo {
  width: 220px;
  min-height: 29px;
  margin: 0;
  text-align: center;
  background-color: #ee3643;
  border-bottom: 6px solid #b52933;
}

.header-top .logo {
    float: left;
    padding-top: 11px;
}

.logo-contacts-container .logo {
  min-height: 45px;
    padding-top: 20px;
}


.logo span, .logo a {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  padding-top: 11px;
  color: #ffffff;
}

.logo a {
    font-size: 24px;
    line-height: 24px;
}

.logo span {
  font-size: 30px;
  line-height: 30px;
}

.logo {
  cursor: pointer;
}

button,
button:active,
button:focus {
    outline: none;
}

input,
input:active,
input:focus {
    outline: none;
}

.pager a, .pager span {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 55px;
}

.pager a {
  color: #000000;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  text-decoration: none;
  line-height: 38px;
}

.pager a:last-child {
  width: 138px;
}

.pager span {
  color: #ffffff;
  background-color: #ee3643;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.items-container {
  float: right;
  width: 700px;
}


.logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.bookmarks:hover,
.basket:hover,
.search:hover {
background-color: #212a3a;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.login-in .enter a:hover,
.login-in .registration a:hover {
  color: #ee3643;
}

.profile a:hover {
  color: #32425c;
}

.under-personal-area a:hover {
  color: #ee3643;
}

.header-bottom li:hover {
  background-color: #293449;
}

.option a:hover {
    background-color: rgba(178, 178, 178, 0.7);
}

.all-btns:hover {
  background-color: #ca2c37;
}

.item:hover {
  border: 1px solid transparent;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.brand:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.cta-btns .buy-btn:hover {
  background-color: #5fbb2d;
}

.cta-btns .favorites-btn:hover {
  border-color: #32425c;
}

.sort-btns button:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-btns button:active {
color: #ee3643;
border-bottom: none;
}
